.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/**/data.json
!.obsidian/plugins/templater-obsidian/data.json
!.obsidian/plugins/calendarium/data.json
.trash/
node_modules/
.rpgvault/backups/
.DS_Store
